.votes
  - if can?(:vote_up, object)
    .btn-group
      = button_to '👍', polymorphic_path([:vote_up, object]), method: :post, remote: true, data: { type: 'json' }
      = button_to '👎', polymorphic_path([:vote_down, object]), method: :post, remote: true, data: { type: 'json' }

  = render 'shared/rating', object: object
